﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discount Coupons</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/Css/CouponStyleSheet.css" rel="stylesheet" />

    @{
        Layout = "~/Views/Shared/nav.cshtml";
    }
</head>
<body>
    <div class="coupon-container">
        @foreach (var vc in ViewBag.listVC)
        {
            <div class="coupon">
                <div class="coupon-left">
                    <div class="tag">HOT</div>
                    <img alt="Shop icon" height="80" src="~/Content/Picture/discount.png" width="80" />
                </div>
                <div class="coupon-right">
                    <div class="discount">@vc[1]-@vc[5]% </div>
                    <div class="min-order">@vc[2]</div>
                    <div class="expiry">Sắp hết hạn: Còn 23 giờ</div>
                    <a class="conditions" href="#">@vc[6]</a>
                    <form action="~/Home/SaveVch" method="post" style="display: inline;">
                        <input type="hidden" name="idvc" value="@vc[0]" />
                        <button type="submit" class="save">Lưu</button>
                    </form>
                </div>
            </div>
        }
    </div>
</body>
</html>