﻿ ﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    @{
        Layout = "~/Views/Shared/nav.cshtml";
        System.Collections.ArrayList a = (System.Collections.ArrayList)Session["taikhoan"];
    }


</head>
<body>

    <!--Phần thân-->

    <div class="content-top">
        <div class="slider">
            <div class="slides">
                <!-- Ảnh quảng cáo -->
                <div class="slide">
                    <img src="~/Content/Picture/img1.jpg" alt="Image 1">
                </div>
                <div class="slide">
                    <img src="~/Content/Picture/img2.jpg" alt="Image 2">
                </div>
                <div class="slide">
                    <img src="~/Content/Picture/img3.jpg" alt="Image 3">
                </div>
            </div>
            <!-- chuyển trái phải -->
            <a class="prev" onclick="moveSlides(-1)">&#10094;</a>
            <a class="next" onclick="moveSlides(1)">&#10095;</a>
        </div>

        <!-- nút chuyển -->
        <div class="dots">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
    <div class="content-mid">
        <h3>Sản Phẩm Bán Chạy</h3>
        <div class="sanphambanchay">
            <div class="card">
                <div class="card-top">
                    <i class='bx bx-heart'></i>
                    <i class='bx bx-cart'></i>
                </div>
                <div class="card-img">
                    <img src="~/Content/Picture/img6.jpg">
                </div>
                <div class="card-bot">
                    <Span>Tên: </Span>
                    <Span>Giá: </Span>
                    <span id="sale">Giảm giá: </span>
                    <div class="btn-buy-order">
                        <button>Mua Ngay</button>
                        <button>Thêm</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-top">
                    <i class='bx bx-heart'></i>
                    <i class='bx bx-cart'></i>
                </div>
                <div class="card-img">
                    <img src="~/Content/Picture/img4.jpg">
                </div>
                <div class="card-bot">
                    <Span>Tên: </Span>
                    <Span>Giá: </Span>
                    <span id="sale">Giảm giá: </span>
                    <div class="btn-buy-order">
                        <button>Mua Ngay</button>
                        <button>Thêm</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-top">
                    <i class='bx bx-heart'></i>
                    <i class='bx bx-cart'></i>
                </div>
                <div class="card-img">
                    <img src="~/Content/Picture/img7.jpg">
                </div>
                <div class="card-bot">
                    <Span>Tên: </Span>
                    <Span>Giá: </Span>
                    <span id="sale">Giảm giá: </span>
                    <div class="btn-buy-order">
                        <button>Mua Ngay</button>
                        <button>Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="sale_title">Ưu Đãi & Tin Tức</h2>
    <div class="sale">
        <button class="sale__btn" id="btn-left"><img src="~/Content/Picture/next.png" /></button>
        <button class="sale__btn" id="btn-right"><img src="~/Content/Picture/next.png" /></button>
        <div class="sale__wrap" id="sale_wrap">
            <article class="sale__item">
                <div class="sale__img-wrap">
                    <img src="~/Content/Picture/uudai4.jpg" />
                </div>
                <div class="sale__content">
                    <h3 class="sale__content-title">Săn sale cùng Quốc Khánh 2/9!!!</h3>
                    <p class="sale__content-date">By LEAFTEA 1/9/2024</p>
                    <p class="sale__content-desc">Ngắm pháo hoa cùng LEAFTEA để đón nhận thật nhiều ưu đãi</p>
                    <a class="sale__content-more">Read More</a>
                </div>
            </article>
            <article class="sale__item">
                <div class="sale__img-wrap">
                    <img src="~/Content/Picture/uudai3.jpg" />
                </div>
                <div class="sale__content">
                    <h3 class="sale__content-title">Săn sale cùng Quốc Khánh 2/9!!!</h3>
                    <p class="sale__content-date">By LEAFTEA 1/9/2024</p>
                    <p class="sale__content-desc">Ngắm pháo hoa cùng LEAFTEA để đón nhận thật nhiều ưu đãi</p>
                    <a class="sale__content-more">Read More</a>
                </div>
            </article>
            <article class="sale__item">
                <div class="sale__img-wrap">
                    <img src="~/Content/Picture/uudai5.jpg" />
                </div>
                <div class="sale__content">
                    <h3 class="sale__content-title">Săn sale cùng Quốc Khánh 2/9!!!</h3>
                    <p class="sale__content-date">By LEAFTEA 1/9/2024</p>
                    <p class="sale__content-desc">Ngắm pháo hoa cùng LEAFTEA để đón nhận thật nhiều ưu đãi</p>
                    <a class="sale__content-more">Read More</a>
                </div>
            </article>
            <article class="sale__item">
                <div class="sale__img-wrap">
                    <img src="~/Content/Picture/uudai3.jpg" />
                </div>
                <div class="sale__content">
                    <h3 class="sale__content-title">Săn sale cùng Quốc Khánh 2/9!!!</h3>
                    <p class="sale__content-date">By LEAFTEA 1/9/2024</p>
                    <p class="sale__content-desc">Ngắm pháo hoa cùng LEAFTEA để đón nhận thật nhiều ưu đãi</p>
                    <a class="sale__content-more">Read More</a>
                </div>
            </article>
        </div>
    </div>

</body>

</html>