﻿
@{
    ViewBag.Title = "ListSanPham";
    Layout = "~/Views/Shared/nav.cshtml";
    <link href="~/Content/Css/ListMenuStyleSheet.css" rel="stylesheet">
}
<div class="list_sanpham">
    <div class="content-bibot">
        <div class="bibot-left">
            <ul>
                <li>Menu</li>
                <li>Trà sữa</li>
                <li>Trà trái cây</li>
                <li>Đá xay</li>
                <li>Cà phê</li>
            </ul>
        </div>
    </div>

    <div class="bibot-right">
        <div class="title-list">
            <h3>Menu</h3>
        </div>

        <div class="list-card">
            <div class="card">
                <div class="card-top">
                    <i class='bx bx-heart'></i>
                    <i class='bx bx-cart'></i>
                </div>
                <div class="card-img">
                    <img src="~/Content/Picture/img7.jpg">
                </div>
                <div class="card-bot">
                    <Span>Tên:</Span>
                    <Span>Giá:</Span>
                    <span id="sale">Giảm giá:</span>
                    <div class="card-size">
                    </div>
                    <div class="btn-buy-order">
                        <button>Xem Chi Tiết</button>
                        <button>Thêm</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-top">
                    <i class='bx bx-heart'></i>
                    <i class='bx bx-cart'></i>
                </div>
                <div class="card-img">
                    <img src="~/Content/Picture/img7.jpg">
                </div>
                <div class="card-bot">
                    <Span>Tên:</Span>
                    <Span>Giá:</Span>
                    <span id="sale">Giảm giá:</span>
                    <div class="card-size">
                    </div>
                    <div class="btn-buy-order">
                        <button>Xem Chi Tiết</button>
                        <button>Thêm</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-top">
                    <i class='bx bx-heart'></i>
                    <i class='bx bx-cart'></i>
                </div>
                <div class="card-img">
                    <img src="~/Content/Picture/img7.jpg">
                </div>
                <div class="card-bot">
                    <Span>Tên:</Span>
                    <Span>Giá:</Span>
                    <span id="sale">Giảm giá:</span>
                    <div class="card-size">
                    </div>
                    <div class="btn-buy-order">
                        <button>Xem Chi Tiết</button>
                        <button>Thêm</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-top">
                    <i class='bx bx-heart'></i>
                    <i class='bx bx-cart'></i>
                </div>
                <div class="card-img">
                    <img src="~/Content/Picture/img7.jpg">
                </div>
                <div class="card-bot">
                    <Span>Tên:</Span>
                    <Span>Giá:</Span>
                    <span id="sale">Giảm giá:</span>
                    <div class="card-size">
                    </div>
                    <div class="btn-buy-order">
                        <button>Xem Chi Tiết</button>
                        <button>Thêm</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-top">
                    <i class='bx bx-heart'></i>
                    <i class='bx bx-cart'></i>
                </div>
                <div class="card-img">
                    <img src="~/Content/Picture/img7.jpg">
                </div>
                <div class="card-bot">
                    <Span>Tên:</Span>
                    <Span>Giá:</Span>
                    <span id="sale">Giảm giá:</span>
                    <div class="card-size">
                    </div>
                    <div class="btn-buy-order">
                        <button>Xem Chi Tiết</button>
                        <button>Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
