
@{
    ViewBag.Title = "TongQuan";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>TongQuan</h2>
<div class="main-content">
    <aside class="sidebar">
        <div class="menu-item"><i class="fas fa-utensils"></i><a href="#">Thống kê theo ngày</a></div>
        <div class="menu-item"><i class="fas fa-leaf"></i><a href="#">Thống kê theo tháng</a></div>
        <div class="menu-item"><i class="fas fa-seedling"></i><a href="#">Thống kê theo tuần</a></div>
    </aside>
</div>
