@{
    ViewBag.Title = "Thanh toán thành công";
    Layout = "~/Views/Shared/nav.cshtml";
}

<link href="~/Content/Css/TTTC.css" rel="stylesheet" />
<div class="container-TC">
    <div class="card shadow-lg rounded-lg">
        <div class="text-center">
            <h3>Đặt hàng thành công!</h3>
            <p class="lead">
                Cảm ơn bạn đã đặt hàng tại chúng tôi. Đơn hàng của bạn đã được xử lý và sẽ được giao trong thời gian sớm nhất. Chúng tôi rất mong bạn hài lòng với sản phẩm của mình!
            </p>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a href="@Url.Action("ListSanPham", "Home")" class="btn btn-custom btn-lg shadow-sm">
                Quay lại Menu
            </a>
            <a href="@Url.Action("Index", "Home")" class="btn btn-secondary btn-lg shadow-sm">
                Quay lại Trang Chủ
            </a>
        </div>
    </div>
</div>

<script>
    document.addEventListener('click', function (event) {
        if (event.target.matches('#menu, #menu1')) {
            const sideBar = document.querySelector('.side-bar');
            const overlaySidebar = document.querySelector('.overlay-sidebar');
            if (sideBar && overlaySidebar) {
                sideBar.classList.toggle('active');
                overlaySidebar.classList.toggle('active');
            }
        }

        if (event.target.matches('.overlay-sidebar')) {
            document.querySelector('.side-bar').classList.remove('active');
            document.querySelector('.overlay-sidebar').classList.remove('active');
        }
    });
</script>

