
@{
    ViewBag.Title = "HomeNV";
    <title>Trang chủ nhân viên</title>
    <link href="~/Content/Css/NVStyleSheet.css" rel="stylesheet"/>
}


<main>

    <div class="container">
        <div class="container-left">
            <div class="luachon">
                <ul>
                    <li>Tổng quan</li>
                    <li>Đơn đặt hàng</li>
                    <li>Thêm đơn hàng</li>
                    <li>Kiểm tra giao dịch</li>
                    <li>Ca làm việc của bạn</li>
                </ul>
            </div>
        </div>
        <div class="container-right">

        </div>
    </div>
</main>

