
@{
    ViewBag.Title = "TrangDangNhapNhanVien";
    <link href="~/Content/Css/HomeNVStyleSheet.css" rel="stylesheet"/>
}


<div class="container">
    <h2>Đăng nhập nhân viên</h2>
    <div class="form-login">
        <div class="card-login">
            <span>Email</span>
            <input type="email" placeholder="nhập email" />
            <span>Mật Khẩu</span>
            <input type="password" placeholder="nhập mật khẩu..." />
            <button type="submit">Đăng nhập</button>
            <a href="#">Quên mật khẩu?</a>
        </div>
    </div>
</div>
