@model TSWeb.Models.DangNhapDKModels
@{
    ViewBag.Title = "DangNhap";
    <link href="~/Content/Css/LoginStyleSheet.css" rel="stylesheet" />
    Layout = null;
}

<div class="container">
    <div class="box signin">
        <h2>Already Have an Account ?</h2>
        <button class="signinBtn">Sign in</button>
    </div>
    <div class="box signup">
        <h2>Don't Have an Account ?</h2>
        <button class="signupBtn">Sign up</button>
    </div>
    <div class="formBx">
        <div class="form signinform">
            <form action="~/DangNhapDK/XuLyDangNhap" method="post">
                <input type="text" name="email" placeholder="Email" /><br />
                <input type="password" name="matkhau" placeholder="Mật khẩu" /><br />
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
        <div class="form signupform">
            <form action="~/DangNhapDK/DangKy" method="post">
                <input type="text" name="hoten" placeholder="Họ và tên" required /> <br />
                <input type="email" name="email" placeholder="Email" required /> <br />
                <input type="email" name="email" placeholder="Email" required /> <br />
                <input type="password" name="matkhau" placeholder="Mật khẩu" required /> <br />
                <input type="password" name="nhaplaimatkhau" placeholder="Nhập lại mật khẩu" required /> <br />
                <input type="text" name="sdt" placeholder="Số điện thoại" required /> <br />
                <input type="text" name="diachi" placeholder="Địa chỉ" required /><br />
                <button type="submit">Đăng ký</button>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/JS/LoginJavaScript.js"></script>
