* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}
/**/
main {
    background-color: white;
    max-width: 1520px;
    min-width: 320px;
    height: 100%;
}

.btnthemsanpham { /*nút thêm sp*/
    background-color: #FF9874;
    color: black;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 19px;
}

/*Chỉnh sửa số lượng*/
.item-quanlity {
    justify-content: center;
    gap: 12px;
    display: flex;
    align-items: center;
    border: 1px solid #3C3D37;
    width: 130px;
    border-radius: 8px;
    height: 50px;
}

.item-plus-btn, .item-minus-btn {
    background-color: transparent;
    outline: none;
    border: none;
}
/*Hình plus - minus*/
.item-img-minus, .item-img-plus {
    width: 24px;
    height: 24px;
}
/*chi tiết sản phẩm*/
.detail-product {
    /*background-color: cornsilk;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
/*hình ảnh*/
.detail-product__img {
    width: 410px;
    border-radius: 4px;
    border-radius: 16px;
}

.detail-product__info {
    width: 600px;
    padding-left: 20px;
    padding-right: 15px;
}
/*bọc 2 + - cùng với thêm sp*/
.plus-minus-product {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 19px;
}

.detail-product__label { /*Còn hàng*/
    margin-top: 10px;
    color: green;
}

.detail-product__price { /*giá*/
    margin-top: 10px;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.detail-taste {
    margin-top: 10px;
}

.detail-taste__title {
    font-size: 16px;
    margin: 0px;
    font-weight: bold;
    color: rgb(0, 111, 60);
}

.detail-taste__list-option {
    display: flex;
    column-gap: 12px;
    margin-top: 4px;
}

.detail-taste__option {
    background: rgb(236, 239, 241);
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 12px;
}

    .detail-taste__option:hover {
        opacity: 0.9;
    }
/*size*/
.card-size {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-between;
}

.sizes {
    display: flex;
    gap: 15px;
}

.size {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    .size:hover {
        background-color: #485935;
        color: #fff;
    }

    .size.selected {
        background-color: #485935;
        color: white;
        border: 2px solid #333;
    }

.product-description {
    padding: 20px;
    color: white;
    background: url(../Picture/bgg.jpg);
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

    .product-description p {
        margin-top: 12px;
    }

