.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s;
    flex-direction: column;
    display:flex
}

    .card:hover {
        transform: translateY(-5px);
    }

    .card h3 {
        margin: 0 0 10px;
        font-size: 18px;
        flex-grow: 1; /* Cho phép phần tử này chiếm không gian còn lại */
    }

    .card p {
        font-size: 14px;
        color: #555;
        margin: 5px 0; /* Khoảng cách giữa các đoạn văn */
        flex-grow: 1;
    }

/**nút thêm đơn hàng*/
.btn-them-dh {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

    .btn-them-dh:hover {
        background-color: #45a049;
    }
