<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discount Coupons</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/Css/CouponStyleSheet.css" rel="stylesheet" />

    @{
        Layout = "~/Views/Shared/nav.cshtml";
    }
</head>
<body>
    <div class="coupon-container">
        @foreach (var myvc in ViewBag.list) {
            <div class="coupon">
                <div class="coupon-left">
                    <div class="tag">HOT</div>
                    <img alt="Shop icon" height="80" src="~/Content/Picture/discount.png" width="80" />
                </div>

                <div class="coupon-right">
                    <div class="discount">@myvc[1]-@myvc[5]% </div>
                    <div class="min-order">@myvc[2]</div>
                    <div class="expiry">Sắp hết hạn: Còn 23 giờ</div>
                    <a class="conditions" href="#">@myvc[6]</a>
                    <div class="save">Áp dụng</div>
 @*                   <div class="delete">Xóa</div>*@
                </div>
            </div>
        }
    </div>
</body>
</html>