<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<<<<<<< HEAD
<<<<<<< HEAD
=======
    @RenderBody()
>>>>>>> vanh
=======
>>>>>>> cb87498d6ffd9f14de97eb1cd048fe1ef0593e1d

</body>
</html>
