<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/admincss.css" rel="stylesheet" />
<<<<<<< HEAD
    <link href="~/css/SanPham.css" rel="stylesheet" />
=======
    <link href="~/Content/css/chinhsuasanpham.css" rel="stylesheet" />
    <link href="~/Content/css/DanhSachSP.css" rel="stylesheet" />
    <link href="~/css/SanPham.css" rel="stylesheet" />
    <link href="~/css/UuDai.css" rel="stylesheet" />
    <link href="~/Content/css/UuDai.css" rel="stylesheet" />
    <link href="~/css/Topping.css" rel="stylesheet" />
    <link href="~/Content/css/Topping.css" rel="stylesheet" />
    <link href="~/Content/css/ThemTopping.css" rel="stylesheet" />
    <link href="~/Content/css/ChinhSuaTopping.css" rel="stylesheet" />
>>>>>>> Thien
    <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header và navigation ở đây -->
    <header>
        <nav class="nav-bar">
            <div class="logo">
<<<<<<< HEAD
                <img src="~/Content/Picture/logo.jpg" alt="Tea Leaf Logo" width="120" height="90">
            </div>
                <div class="menu-top">
                    <a href="~/Home/TongQuan">Tổng Quan</a>
                    <a href="SanPham">Sản Phẩm</a>
                    <a href="UuDai">Ưu Đãi</a>
                    <a href="KhachHang">Khách Hàng</a>
                    <a href="NhanVien">Nhân Viên</a>
                    <a href="ThanhToan">Thanh Toán</a>
                </div>
            
=======
                <img src="~/Content/anh/Screenshot 2024-09-19 155433.png" alt="Tea Leaf Logo" width="90" height="90">
            </div>
            <div class="menu-top">
                <a href="~/SanPham/TongQuan">Tổng Quan</a>
                <a href="~/SanPham/QLSanPham">Sản Phẩm</a>
                <a href="~/SanPham/UuDai">Ưu Đãi</a>
                <a href="~/SanPham/KhachHang">Khách Hàng</a>
                <a href="~/SanPham/NhanVien">Nhân Viên</a>
                <a href="~/SanPham/ThanhToan">Thanh Toán</a>
                <a href="~/SanPham/Topping">Topping</a>
               
            </div>
>>>>>>> Thien
        </nav>
    </header>

    <main class="content">
<<<<<<< HEAD
        <div class="container">
                @RenderBody()
        </div>
=======
        @RenderBody()
>>>>>>> Thien
    </main>
</body>
</html>